* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
    background-image: url(../imag/21627562.jpg); 
}

/* Header/logo Title */
.header {
    padding: 60px;
    text-align: center;
  background-image: url(../imag/mathematics-pictures-background-29-1.jpg);
    width: 100%;
    color: #FFFFFF;
    font-size: 90px;
}

 #logo1 {	top: 0px;
		left: 0px;
	width: 68px;
    position: fixed; 
		} 
/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #008080;
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 14px 18px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    flex:70%;
    background-image: url(../imag/21627562.jpg);
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
   background-image: url(../imag/21627562.jpg);
    width: 100%;
    padding: 20px;
}
.col-sm-9{
     font-size: 20px;
    text-align: justify;
    left: 12px;
    right: 12px;
    }
#upbutton {
    background: url("images1/up2.png") no-repeat top left;
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
  }
.effect00 {list-style:none;}
ul li {
    display:inline-block;
    margin:0 10px
}

.demo {
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
    float:left;
    margin-right:20px
}

.demo figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px
}

.demo figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}

.demo figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

.demo figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:24px;
    text-align:left
}

.demo figure p {
    display:block;
    font-family:'Lato';
    font-size:20px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left
}

.demo figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}

.demo figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}

.demo figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}

.demo figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

.delay {
  -animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
}  
.cssload-loader-walk {
	width: 97px;
	height: 39px;
	position: absolute;
	left: 60%;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
}
.cssload-loader-walk > div {
	content: "";
	width: 19px;
	height: 19px;
	background: rgb(33,150,243);
	border-radius: 100%;
	position: absolute;
	animation: cssload-animate 2.3s linear infinite;
		-o-animation: cssload-animate 2.3s linear infinite;
		-ms-animation: cssload-animate 2.3s linear infinite;
		-webkit-animation: cssload-animate 2.3s linear infinite;
		-moz-animation: cssload-animate 2.3s linear infinite;
}
.cssload-loader-walk > div:nth-of-type(1) {
	animation-delay: -0.46s;
		-o-animation-delay: -0.46s;
		-ms-animation-delay: -0.46s;
		-webkit-animation-delay: -0.46s;
		-moz-animation-delay: -0.46s;
}
.cssload-loader-walk > div:nth-of-type(2) {
	animation-delay: -0.92s;
		-o-animation-delay: -0.92s;
		-ms-animation-delay: -0.92s;
		-webkit-animation-delay: -0.92s;
		-moz-animation-delay: -0.92s;
}
.cssload-loader-walk > div:nth-of-type(3) {
	animation-delay: -1.38s;
		-o-animation-delay: -1.38s;
		-ms-animation-delay: -1.38s;
		-webkit-animation-delay: -1.38s;
		-moz-animation-delay: -1.38s;
}
.cssload-loader-walk > div:nth-of-type(4) {
	animation-delay: -1.84s;
		-o-animation-delay: -1.84s;
		-ms-animation-delay: -1.84s;
		-webkit-animation-delay: -1.84s;
		-moz-animation-delay: -1.84s;
}



@keyframes cssload-animate {
	0% {
		left: 97px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	90% {
		width: 39px;
		height: 15px;
	}
	95% {
		left: 97px;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	100% {
		left: 97px;
		top: 0;
	}
}

@-o-keyframes cssload-animate {
	0% {
		left: 97px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	90% {
		width: 39px;
		height: 15px;
	}
	95% {
		left: 97px;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	100% {
		left: 97px;
		top: 0;
	}
}

@-ms-keyframes cssload-animate {
	0% {
		left: 97px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	90% {
		width: 39px;
		height: 15px;
	}
	95% {
		left: 97px;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	100% {
		left: 97px;
		top: 0;
	}
}

@-webkit-keyframes cssload-animate {
	0% {
		left: 97px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	90% {
		width: 39px;
		height: 15px;
	}
	95% {
		left: 97px;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	100% {
		left: 97px;
		top: 0;
	}
}

@-moz-keyframes cssload-animate {
	0% {
		left: 97px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	90% {
		width: 39px;
		height: 15px;
	}
	95% {
		left: 97px;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	100% {
		left: 97px;
		top: 0;
	}
}

/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background:  #008080;
 color: white;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {   
        flex-direction: column;
    }
}